<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Add Appointments</title>
    <style>
        body, html {
            margin: 0;
            margin-top: 15px;
            padding: 0;
            width: 100%;
            height: 100%;
            font-family: Arial, sans-serif;
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            background-color: #ffffff;
            color: gray;
            position: fixed;
            width: calc(100% - 40px);
            top: 0;
            padding-top: 15px;
            z-index: 1000;
            border-bottom: 2px solid gray;
        }
        nav img.logo {
            height: 50px;
            width: auto;
        }
        nav a {
            color: black;
            text-decoration: none;
            margin-left: 10px;
            transition-duration: 0.4s;
        }
        nav a:hover {
            opacity: 0.8;
        }
        .btn, .btn-back {
            background-color: #1c9ef9;
            color: white;
            padding: 10px 20px;
            margin: 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
        }
        .btn-back {
            margin-left: 40px;
        }
        .container {
            display: flex;
            flex-direction: column;
            padding: 35px;
            margin-bottom: -30px;
        }
        .input-group {
            margin-bottom: 10px;
        }
        .input-group label {
            display: block;
            margin-bottom: 5px;
        }
        .input-group input {
            width: 30%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/"><img src="/images/serious-md-logo.png" alt="Logo" class="logo"></a>
        <div>
            <a href="/">CLEMENTE</a>
            <a href="/">RACELA</a>
            <a href="/">VILLARAMA</a>
        </div>                           
    </nav>  
    <div class="container">
        <h1>Add New Appointment</h1>
        <form action="/insertAppointment" method="post" id="addForm">
            <div class="input-group">
                <label for="clinicid">Appointment Code: </label>
                <input type="text" id="clinicid" name="apptcode" placeholder="Enter code or leave blank">
            </div>
            <div class="input-group">
                <label for="apptid">Appointment ID:</label>
                <input type="text" id="apptid" name="apptid" placeholder="Enter apptid" value="MISSING" required>
            </div>
            <div class="input-group">
                <label for="clinicid">Clinic ID: </label>
                <input type="text" id="clinicid" name="clinicid" placeholder="Enter clinicid" value="MISSING" required>
            </div>
            <div class="input-group">
                <label for="doctorid">Doctor ID: </label>
                <input type="text" id="doctorid" name="doctorid" placeholder="Enter doctorid" value="MISSING" required>
            </div>
            <div class="input-group">
                <label for="pxid">Patient ID: </label>
                <input type="text" id="pxid" name="pxid" placeholder="Enter pxid" value="MISSING" required>
            </div>
            <div class="input-group">
                <label for="status">Status: </label>
                <input type="text" id="status" name="status" placeholder="Enter status" value="Queued">
            </div>
            <div class="input-group">
                <label for="queuedate">Queued Date: </label>
                <input type="datetime-local" id="queuedate" name="queuedate">
            </div>
            <div class="input-group">
                <label for="type">Type: </label>
                <input type="text" id="type" name="type" placeholder="NULL">
            </div>
            <div class="input-group">
                <label for="virtualind">Virtual Indicator: </label>
                <input type="text" id="virtualind" name="virtualind" placeholder="NULL">
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>  
    </div>
    <button class="btn-back" onclick="window.location.href='/';">Back to Main Page</button>
</body>
</html>