<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Appointments</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <!-- Form for adding a new appointment -->
        <form action="/insertAppointment" method="post" id="addForm">
            <div class="input-group">
                <label for="apptid">Appointment ID:</label>
                <input type="text" id="apptid" name="apptid" value="FCEB4030B051CCDEAB7A5C0806A962BD">
            </div>
            <div class="input-group">
                <label for="clinicid">Clinic ID:</label>
                <input type="text" id="clinicid" name="clinicid" value="MISSING">
            </div>
            <div class="input-group">
                <label for="doctorid">Doctor ID:</label>
                <input type="text" id="doctorid" name="doctorid" value="MISSING">
            </div>
            
            <div class="input-group">
                <label for="pxid">Patient ID:</label>
                <input type="text" id="pxid" name="pxid" value="MISSING">
            </div>
            
            <div class="input-group">
                <label for="status">Status:</label>
                <input type="text" id="status" name="status" placeholder="Queued" value="Queued">
            </div>
            
            <div class="input-group">
                <label for="queuedate">Queued Date:</label>
                <input type="datetime-local" id="queuedate" name="queuedate" placeholder="NULL" value="">
            </div>
            
            <div class="input-group">
                <label for="type">Type:</label>
                <input type="text" id="type" name="type" placeholder="NULL" value="">
            </div>
            
            <div class="input-group">
                <label for="virtualind">Virtual:</label>
                <input type="text" id="virtualind" name="virtualind" placeholder="NULL" value="">
            </div>
            
            <button type="submit" class="btn">Add this Appointment</button>
        </form>  
    </div>
    <button class="btn" onclick="window.location.href='/';">Back to Main Page</button>
    <script src="/js/script.js"></script>
</body>
</html>