<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Appointment</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <!-- The rest of your update appointment HTML content will go here -->
        <!-- Replace placeholders like {{this.appcode}} with actual server-side code to inject dynamic data -->
        <!-- ... -->

        <form action="/submitUpdate" method="POST">
            <label for="status">Status:</label>
            <input type="text" id="status" name="status" required><br><br>
            
            <input type="submit" value="Update Appointment">
          </form>

    </div>
    <button class="btn" onclick="window.location.href='/';">Back to Main Page</button>
    <script src="/js/script.js"></script>
</body>
</html>
