.container {
    width: 90%;
    margin: auto;
}

.pagesForm, .pages {
    margin-bottom: 20px;
}

.input-pair {
    margin-bottom: 15px;
}

.input-box {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.lbl {
    font-weight: bold;
}

/* Button Base Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn:active {
    background-color: #004085;
    transform: scale(0.95);
}

.btn.delete {
    background-color: #dc3545;
}

.btn.delete:hover {
    background-color: #c82333;
}

table, th, td {
    border: 1px solid;
}
table {
    border-collapse: collapse;
}